<a href="https://colab.research.google.com/github/SHINE51278/ML/blob/main/02nd_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/gender_submission.csv")

In [3]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [4]:
df.isnull().sum() # Handling missing values

PassengerId    0
Survived       0
dtype: int64

In [5]:
# Identify Categorical Column (Important)

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
  df[col]=encoder.fit_transform(df[col])

In [11]:
import numpy as np
x=df.iloc[:,0]
y=df.iloc[:,1]
x=np.array(x).reshape(-1,1)
y=np.array(y).reshape(-1,1)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [21]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train.ravel())
y_pred=model.predict(x_test)

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,precision_score

In [22]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print("Accuracy:",accuracy)

Accuracy: 0.5952380952380952

In [23]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("Confusion Matrix:\n",cm)
print("TP  FP")
print("FN  TN")
print(cm)

Confusion Matrix:
 [[50  0]
 [34  0]]
TP  FP
FN  TN
[[50  0]
 [34  0]]